.caption-container {
    background-color: rgba(0, 0, 0, 0.58);
    padding: 1.5rem;
    max-width: 900px;
    margin: 0 auto;
}

.caption-content h4 {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1rem;
    letter-spacing: 3px;
}

.caption-content h1 {
    color: white;
    text-transform: capitalize;
    margin-bottom: 1rem;
}

/* .caption-content p {
    color: white;
    font-size: 1.25rem;
    margin-bottom: 3rem;
} */

.scrollTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    text-align: center;
    font-size: 2em;
    cursor: pointer;
    z-index: 1000;
    transition: opacity 0.4s ease-in-out;
}

.scrollTop:hover {
    background-color: #007bff;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px 15px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.back-to-top:hover {
    background-color: #0056b3;
}