@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');

/* Assurez-vous que ce fichier est correctement importé dans votre composant */

#infos-section {
    padding: 40px 0;
    font-family: "Saira Semi Condensed", sans-serif !important;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
    color: #23abd4 !important;
    font-family: "Saira Semi Condensed", sans-serif !important;
}

.h2Bis {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: left;
    color: #23abd4 !important;
    font-family: "Saira Semi Condensed", sans-serif !important;
}

.custom-margin {
    max-width: 100%;
    display: block;
    margin: 0 auto 20px auto;
    border-radius: 50%;
}

/* Breakpoints for responsive image resizing */
@media (max-width: 1200px) {
    .custom-margin {
        max-width: 75%;
        /* Reduce image size for large screens */
    }
}

@media (max-width: 992px) {
    .custom-margin {
        max-width: 60%;
        /* Reduce image size for medium screens */
    }
}

@media (max-width: 768px) {
    .custom-margin {
        max-width: 50%;
        /* Reduce image size for small screens */
    }
}

@media (max-width: 576px) {
    .custom-margin {
        max-width: 40%;
        /* Reduce image size for extra small screens */
    }
}

.custom-background {
    margin-left: 1%;
    background-color: rgba(0, 0, 0, 0.58);
    padding: 20px;
    border-radius: 8px;
}

.text-left {
    text-align: left;
}

.projects {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 1.5;
}

/* Ensure images are responsive */
.img-fluid {
    height: auto;
}